body{
    font-family: 'Neucha', cursive;
    margin: 0px;
}

a, span, .color{
    color: rgb(219, 152, 52);
}
p{
    font-size: 18px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px dashed rgb(221, 221, 221);
}
nav a{
    text-decoration: none;
    padding: 5px;
}
nav a:hover{
    color: black;
}


.zagolovok{
    display: flex;
    justify-content: center;
    align-items: center;
}
.zagolovok img{
    width: 90px;
}
.zagolovok h1{ 
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 40px;
    margin: 2px;
}
.zagolovok p{
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
}


.kartinkiVDvizhenii{
    display: flex;
    position: relative;
}

.oMarine{
    text-align: center;
    padding: 10px;
}

.kartinkaFonom{
    background-position:center;
    background-size: cover;
    border-right: 1px solid white;
    flex: 1;
    height: 50vh;
    transition: all 1.5s ease;
}
.uvelichenie{
    flex: 4;
}

.cytataDiv{
    margin: auto;
    background: rgba(255, 255, 255, 0.907);
    position: absolute;
    width: 80%;
    margin-left: 10%;
    overflow: auto;
    top: 40%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cytata{
    text-align: center;
    font-weight: lighter;
}


.vyborKategorii{
    font-size: 1px;
    color: white;
}

.knopkiKategorij{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}

.knopkiKategorij button{
    flex: 1; 
    padding: 5px; 
}

.catalog{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
.catalog div{
    border: 1px solid rgba(0, 0, 0, 0.363);
    min-width: 300px;
    margin: 5px;
    padding: 5px;  
}
.catalog img{
    box-shadow: 17.5px 17.5px 0px #fff, 18px 18px 0px rgb(219, 152, 52), 18px 17px 0px rgb(219, 152, 52), 17px 18px 0px rgb(219, 152, 52);
}


.podrobnee{
    z-index: 99;
    overflow: scroll;
    position:fixed;
    width: 100vw;
    height: 100vh;
    top: -5px;
    background: rgb(255, 255, 255);
    padding:10px;
}
.podrobnee img{
    width: 300px;
    box-shadow: none
}
.podrobnee p{
    margin: 10px;
}



.knopkiKategorij{
    margin: 10px;
}
.knopkiKategorij button, .podrobnosti, .podrobnee button{
    font-family: 'Neucha', cursive;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.605);
    border-radius: 5px;
    background-color:white;
    padding: 4px;
    min-width: 160px;
    max-width: 160px;
    min-height: 28px;
    font-size: 16px;
}

.knopkiKategorij button:hover, .podrobnosti:hover, .podrobnee button:hover{
    transition: all 0.5s ease;
    font-size:18px;
    box-shadow: 10.5px 10.5px 0px #e9e9e9;
    padding: 3px;
}
.podrobnosti{
    margin-bottom: 10px;
}

.dostavka, .oplata{
    text-align: center;
    padding: 10px;
}
.dostavka h3, .oplata h3{
    margin-top: 0px;
    color: rgb(219, 152, 52);
}

.footerBig{
    background: rgb(244, 244, 244);
    text-align: center;
    padding-bottom: 40px;
}
.footerBig p{
    margin: 0px;
}
.footerBig h4{
    padding: 3px;
    margin: 0px;
}

.footer{
    position: fixed;
    bottom: -2px;
    width: 100%;
    text-align: center;
    background: rgb(244, 244, 244);
    padding: 3px;
}


.sticky {
    position: fixed;
    top: -10px;
    background-color: white;
    border-bottom: 1px solid gray;
}



@media (max-width: 470px){
    .kartinkaFonom{
        height: 30vh;
    }
    .knopkiKategorij{
        /* position: sticky; */
        top: 0; 
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.226);
        z-index: 98;
    }
    .inst{
        bottom: 5px;
    }
    .podrobnee img{
        width: 200px;
    }
    .cytataDiv{
        top: 30%;
    }


}
@media (max-width: 380px){
    .sticky {
        top: -10px;
    }
    .knopkiKategorij button{
        margin: 3px;
        padding: 2px;
        min-width: 90px;
        max-width: 160px;
    }
}
